<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<!-- Front page -->
<script type="text/ng-template" id="eventlobbyMain.html">
	<widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}
            </span>
            <widget-row>
                <span ng-repeat= "tag in item.tags" class="label label-success">
                    {{tag}}
                </span>
            </widget-row>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
  	<widget-row>
        <button class="btn btn-default" ng-click="showInColumnOne('submissionView.html')">
            Submit Event
        </button>
    </widget-row>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="eventlobbyDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
	<wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><div class="pDetails">{{detailsItem.details}}</div></wr>
    <wr><div class="pDetails">Location: {{detailsItem.location}}</div></wr>
    <wr><div class="pDetails">Time: {{detailsItem.time}}</div></wr>
    <wr><div class="pDetails">Capacity: {{detailsItem.capacity}}</div></wr>
</script>

<!-- Submission view -->
<script type="text/ng-template" id="submissionView.html">
        <wr><wc>
            <h2>Event Submission</h2> </wc></wr>
        <widget-row>
                    <div class="pDetails">Enter the title for the event:</div>
            <wr><input type="text" class="form-control" ng-model="insertValue.title" placeholder="Title" />
                            <span class="input-group-btn" style="overflow:hidden;">
                            </span></wr>
    </widget-row>
    <widget-row>
        <div class="pDetails">Enter the location of the event:</div>
            <wr><input type="text" class="form-control" ng-model="insertValue.location" placeholder="Loaction" />
                            <span class="input-group-btn" style="overflow:hidden;">
                            </span></wr>
    </widget-row>
    <widget-row>
        <div class="pDetails">Enter the start and end time for the event:</div>
            <wr><input type="text" class="form-control" ng-model="insertValue.time" placeholder="Time" />
                            <span class="input-group-btn" style="overflow:hidden;">
                            </span></wr>
    </widget-row>
    <widget-row>
        <div class="pDetails">Enter the maximum capacity for the event, leave blank if no maximum capacity:</div>
            <wr><input type="text" class="form-control" ng-model="insertValue.capacity" placeholder="Capacity" />
                            <span class="input-group-btn" style="overflow:hidden;">
                            </span></wr>
    </widget-row>
    <widget-row>
    	<button class="btn btn-default" ng-click="showInColumnOne('eventlobbyMain.html')">
            Submit
        </button>
        <button class="btn btn-default" ng-click="showInColumnOne('eventlobbyMain.html')">
            Cancel
        </button>
	</widget-row>
</script>