<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<!-- Front page -->
<script type="text/ng-template" id="eventlobbyMain.html">
	<widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}</span>
            <widget-row>
                <span ng-repeat= "tag in item.tags" class="label label-success">
                    {{tag}}
                </span>
            </widget-row>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
  	<widget-row>
        <button class="btn btn-default" ng-click="showInColumnOne('submissionView.html')">
            Submit Event
        </button>
    </widget-row>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Logout
        </a>
    </li>
</script>

<!-- Submit Event View -->
<script type="text/ng-template" id="sampleWorkingWithViewsSecond.html">
    <widget-row>
        <widget-cell>
            <h2>Second page</h2>
            <div class="pDetails well well-lg">The second page has been loaded into view #1. Click the "Right Column" buttons below to load content into the right view.</div>
            <div class="btn-group-vertical" role="group">
                <button class="btn btn-default" ng-click="showInColumnOne('sampleWorkingWithViewsMain.html')">
                    Back to Main View
                </button>
                <button class="btn btn-default" 
                        ng-click="showInColumnTwo('sampleWorkingWithViewsCol2page1.html')">
                    Load Right Column #1 View
                </button>
                <button class="btn btn-default" 
                        ng-click="showInColumnTwo('sampleWorkingWithViewsCol2page2.html')">
                    Load Right Column #2 View
                </button>
            </div>
        </widget-cell>
    </widget-row>
</script>
<!-- Primary template that will get shown when widget loads -->


<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="eventlobbyDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
	<wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><div class="pDetails">{{detailsItem.details}}</div></wr>
    <wr><div class="pDetails">Location: {{detailsItem.location}}</div></wr>
    <wr><div class="pDetails">Time: {{detailsItem.time}}</div></wr>
    <wr><div class="pDetails">Capacity: {{detailsItem.capacity}}</div></wr>
</script>

<!-- Submission view -->
<script type="text/ng-template" id="submissionView.html">
    <widget-row>
        <widget-cell>
            <h2>Column Two Content Part 1</h2>
            <div class="pDetails well well-lg">This view is loaded into the column 2.</div>
            <div class="pDetails">Column 2 will go full screen on smaller displays or will take the right side of the dispaly if the display port is wide enough.</div>
        </widget-cell>
    </widget-row>
    <widget-row>
    	<button class="btn btn-default" ng-click="showInColumnOne('eventlobbyMain.html')">
            Submit
        </button>
        <button class="btn btn-default" ng-click="showInColumnOne('eventlobbyMain.html')">
            Cancel
        </button>
	</widget-row>
</script>